/* GENERAL STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(forestimage.jpg) no-repeat center center/ cover;    
    height: 100vh;
    position: relative;
}

#open-btn {
    background-color:#ffffff38;
    border: 3px solid #fff;
    border-radius: 15px;
    box-shadow: 2px 5px 20px #000;
    font-size: 1.5rem;
    font-weight: bold;
    height: 70px;
    position: absolute;
    left: 20%;
    top: 70%;
    transition: .5s;
    width: 350px;
}

#open-btn:hover {
    background: #fff;
    color: #000;
}

#modal {
    background: #fff;
    border-radius: 5px;
    cursor: default;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.5rem;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;

    animation-name: animatemodal;
    animation-duration: .4s;
}

#modal-container {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: rgba(0, 0, 0, .2);
}

#close-btn {
    cursor: pointer;
    font-size: 3rem;
}

#close-btn:active {
    color: red;
}

/* Modal Animation */
@keyframes animatemodal {
    0% {
        top: -300px;
    }
    100% {
        top: 50%;
        opacity: .2;
    }
}